@import "../../node_modules/bulma/bulma";
@import "theme";

.beerTrackerNav {
  color: white;
  background-color: $brand-color-darker;

  h1 {
    color: white;
  }
}

.beerTracker-green {
  color: $brand-status-colors-ok !important;
}

.beerTracker-red {
  color: $brand-status-colors-lowInventory !important;
}

.hovering {
  border: solid thin $brand-color-darker;
}

.inventoryQty {
  font-size: 5em !important;
}

.beerSingleSelected {
  border: solid thin $brand-color-darker;
  color: $brand-color-darker;
}

.lowInventory {
  color: $brand-status-colors-lowInventory;
}
