@import "theme";

ul {
  list-style: none;
}

.beerSingle {
  padding: 1em;
  margin: 1em;
  border: solid thin $brand-grey-colors-1;
  border-radius: 20px;
}

.hovering {
  border: solid thin $brand-color-darker;
}

.inventoryQty {
  font-size: 5em !important;
}

.beerSingleSelected {
  border: solid thin $brand-color-darker;
  color: $brand-color-darker;
}

.lowInventory {
  color: $brand-status-colors-lowInventory;
}
