/*TODO -- MERGE DETAIL.CSS and STYLE.CSS*/

h2 {
  font-size: 4em;
  font-weight: 200;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 20px;
}

/* TODO -- try to normalize with flex-item-main */
.flex-detail-header-main {
  flex: 6 1 50%;
  max-width: 70%;
  min-height: 100px;
}

.placeholder-box {
  background-color: grey;
}

.inventory {
  flex: auto;
  text-align: center;
  min-width: 3em;
}

.flex-auto {
  flex: auto;
  min-width: 0.75em;
  min-height: 1em;
}

.graph-container {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.graph {
  flex: 0 0 40%;
  min-height: 150px;
}

@media (max-width: 400px) {

  .graph {
    flex: auto;
    width: 100%;
  }

  .graph-container {
    width: 100%;
    flex-direction: column;
  }

}
