body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: block;
  padding: 5px;
  min-height: 50px;
  background: #424242;
  color: white;
  font-weight: 200;
}

.flex-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-header-item {
  flex: 1;
  align-self: flex-start;
}

.flex-header-item > h1 {
  font-weight: 200;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.flex-item {
  flex: 1 1 10%;
  align-self: center;
}

.flex-title {
  flex: 6 1 60%;
}

.flex-item-main {
  flex: 6 1 50%;
  max-width: 70%;
  border: thin solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgb(222, 222, 222);
  min-height: 100px;
}

.flex-inventory-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  min-height: 100%;
  border: none;
  margin: 0;
}

.inventory-headings {
  font-size: 2em;
  font-weight: 200;
}

.inventory {
  flex: auto;
  text-align: center;
  min-width: 3em;
}

.flex-auto {
  flex: auto;
  min-width: 0.75em;
  min-height: 1em;
}

.padding-left {
  padding-left: 1em;
}

.text-light {
  font-weight: lighter
}
